:root {
    --background: #f9fcf8;
    --text: #0a1207;
    --primary: #D1CBCB;
    --secondary: #f1eeee;
    --accent: #CD9D38;
}
#logo_big_light, #logo_big_dark {
  height: 10vh !important;
}
#logo_big_light {
  display:initial;
}
#logo_big_dark {
  display:none;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a1207;
        --text: #f9fcf8;
        --primary: #D1CBCB;
        --secondary: #272020;
        --accent: #EAD29F;
    }
}
html {
    width: 100vw;
    min-height: 100vh;
    background: var(--background);
    color: var(--text);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
    background: var(--background); 
    background-size: cover;
}
body{
    background: transparent;
    color: var(--text);
}

.default {
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner {
    width: 90vw;
    padding: 1px;
    /* background: url(../images/veg_broccoli.svg) no-repeat, url() no-repeat, url(../images/fruit_tmt.svg) 120% 200% no-repeat,  var(--accent); 
    background-size: 200px, 200px, 300px;*/
    color: var(--secondary);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}
.banner::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/fruit_tmt.svg) 75% 75% no-repeat, var(--accent);
    background-size: calc(20vh + 10vw);
  }
.banner::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/veg_broccoli.svg) 35% 8% no-repeat;
    background-size: calc(10vh + 10vw);
    transform: rotate(-30deg);
  }
  .bg_addon::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/veg_broccoli.svg) 40% 40% no-repeat;
    background-size: calc(10vh + 10vw);
    transform: rotate(10deg);
  }
  .bg_addon::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/veg_broccoli.svg) 52% 70% no-repeat;
    background-size: calc(10vh + 10vw);
    transform: rotate(45deg);    
  }
  .banner_text {
    padding-top: 75px;
    padding-bottom: 75px;
    width: 75vw;
    min-width: 200px;
    filter: invert(1);
  }
  ul li {
    list-style-image: url(../images/carrot.svg);
    list-style-position: inside;
  }
  #searchRewards {
    background: url('/res/images/search_icon.svg'), var(--primary);
    background-position: 10px 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    width: 80vw;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid var(--accent);
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
  }
  #searchTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  #searchTable td:first-child {
    font-weight: 700;;
  }
  #searchTable th, #searchTable td {
    text-align: center;
    padding: 12px;
  }
  #searchTable tr {
    border-bottom: 1px solid #ddd;
  }
  #searchTable tr.header, #searchTable tr:hover {
    background-color: var(--accent);
    color: var(--background);
  }
  #searchTable img {
    max-width: 30vw;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }
  .rounded {
    border-radius: 50px;
    width: 40vw;
  }
  .default {
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flip {
    background-color: transparent;
    width: 250px;
    height: 400px;
    min-width: 150px;
    min-height: 150px;
    perspective: 1000px;
    margin: 4px;
    margin-left: auto;
    margin-right: auto;
}
.flip-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip:hover .flip-content {
    transform: rotateY(180deg);
}
.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 40px;
}
.flip-front {
    background-color: var(--primary);
    color: var(--secondary);
}
.flip-front img {
  width: 20vw;
}
.flip-back {
    background-color: var(--secondary);
    color: var(--text);
    transform: rotateY(180deg);
    box-shadow:0 0 10px var(--accent);
}
  @media (prefers-color-scheme: dark) {
      #logo_big_light {
          display:none !important;
      }
      #logo_big_dark {
          display:initial !important;
      }
      .banner_text {
        filter: invert(0);
      }
  }
  
@media only screen and (min-width: 600px) {
  .flip {
      float: left;
      margin: 4px;
  }
  
  .flex {
      flex-direction: row;
  }
}