:root {
    --background: #f9fcf8;
    --text: #0a1207;
    --primary: #D1CBCB;
    --secondary: #f1eeee;
    --accent: #CD9D38;
}
#logo_big_light, #logo_big_dark {
  height: 10vh !important;
}
#logo_big_light {
  display:initial;
}
#logo_big_dark {
  display:none;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a1207;
        --text: #f9fcf8;
        --primary: #D1CBCB;
        --secondary: #272020;
        --accent: #EAD29F;
    }
}
html {
    width: 100vw;
    min-height: 100vh;
    background: var(--background);
    color: var(--text);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
    background: var(--background); 
    background-size: cover;
}
body{
    background: transparent;
    color: var(--text);
}

.default {
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner {
    width: 90vw;
    padding: 1px;
    /* background: url(../images/veg_broccoli.svg) no-repeat, url() no-repeat, url(../images/fruit_tmt.svg) 120% 200% no-repeat,  var(--accent); 
    background-size: 200px, 200px, 300px;*/
    color: var(--secondary);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}
.banner::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/fruit_tmt.svg) 75% 75% no-repeat, var(--accent);
    background-size: calc(20vh + 10vw);
  }
.banner::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/veg_broccoli.svg) 35% 8% no-repeat;
    background-size: calc(10vh + 10vw);
    transform: rotate(-30deg);
  }
  .bg_addon::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/veg_broccoli.svg) 40% 40% no-repeat;
    background-size: calc(10vh + 10vw);
    transform: rotate(10deg);
  }
  .bg_addon::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/veg_broccoli.svg) 52% 70% no-repeat;
    background-size: calc(10vh + 10vw);
    transform: rotate(45deg);    
  }
  .banner_text {
    padding-top: 75px;
    padding-bottom: 75px;
    width: 75vw;
    min-width: 250px;
    filter: invert(1);
  }
  @media (prefers-color-scheme: dark) {
      #logo_big_light {
          display:none !important;
      }
      #logo_big_dark {
          display:initial !important;
      }
      .banner_text {
        filter: invert(0);
      }
  }